/*
 * Globals
 */

/* Buttons */
.btn-default,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #4c4c4c;
  -webkit-transition: opacity .2s;
}
.btn-default:hover {
  opacity: .7;
}
.dark-mode .btn-default,.btn-default:focus,.btn-default:hover {
  color: #111;
  background-color: #c4c4c4;
}


/* Light theme */
label {
  color: #4c4c4c;
}

.switch label .lever {
  background-color: #4c4c4c;
}
.switch label .lever:after {
  background-color: #888;
}

/* Dark theme */
.dark-mode label {
  color: #c4c4c4;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #c4c4c4;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #888;
}

.dark-mode {
  color: #c4c4c4 !important;
  background-color: #c4c4c4 !important;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

.info-section {
    min-height: 100%;
    color: #4c4c4c;
    padding: 10% !important;
}
.dark-mode .info-section {
    color: #c4c4c4 !important;
}

.social-icon {
	height: 80px;
	margin: 0 10px;
	/*-webkit-animation: fadein 1s;*/
  -webkit-transition: opacity .2s;
}
.social-icon:hover {
  opacity: .7;
}



/*  Canvas  */
#bgCanvas {
  /*width: 100vw;*/
  /*height: 100vh;*/
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
