/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:focus {
    color: #fff;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #4c4c4c;
    -webkit-transition: opacity .2s;
}
.btn-default:hover {
    color: #fff;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #4c4c4c;
    opacity: .7;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
  font-family: lato;
}

.info-section {
    min-height: 100%;
    /*background-color: #4c4c4c;
    color: #f4f7f2;*/
    background-color: #f4f7f2;
    color: #4c4c4c;
    padding: 10% !important;
    background-image: url(../images/new_year_background.png);
}

.content-section {
    min-height: 100%;
    color: #f4f7f2;
    background-color: #4c4c4c;
    padding-top:5% !important;
    background-image: url(../images/footer_lodyas.png);
    background-image: url(../images/congruent_outline.png);
}


.portfolio {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.portfolio-entry {
    background: gray;
    display: inline-block;
    font-size: 1rem;
    height: 187px;
    max-width: 250px;
    overflow: hidden;
    position: relative;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.portfolio-entry:hover {
    box-shadow: 0 0 0.75em rgba(36, 40, 43, 0.85);
    z-index: 100
}

.portfolio-entry:hover .portfolio-entry-description {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.portfolio-entry-image {
    width: 100%;
    height: 100%;
}

.portfolio-entry-description {
    background: rgba(36, 40, 43, 0.85);
    border: none;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 1em;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out
}

.portfolio-entry-title {
}

.social-icon{
	height: 80px;
	margin: 0 10px;
	/*-webkit-animation: fadein 1s;*/
    
    /*  Opacity transitions take .2 seconds.    */
    -webkit-transition: opacity .2s;
}

/*  On hover for social icons.  */
.social-icon:hover {
  opacity: .7;
}
